.search-table.table {
  >tbody>tr>td,
  >thead>tr>th {
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    text-align: left;
  }
}